@{
    ViewBag.Title = "Raporlama";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Toplam Gayrimenkul Sayısı</span>
            <div class="count">2500</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Kirada Olan Gayrimenkul Sayısı</span>
            <div class="count">123.50</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Boşta Olan Gayrimenkul Sayısı</span>
            <div class="count green">2,500</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Toplam Arsa Sayısı</span>
            <div class="count">4,567</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Ticari Gayrimenkul Sayısı</span>
            <div class="count">2,315</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Mesken Sayısı</span>
            <div class="count">7,325</div>
        </div>
    </div>
    <div class="row" style="margin-left:0px!important;margin-right:0px!important;">
        <div class="col-md-12" style="border: 1px solid #E6E9ED;padding-right:0px;padding-left: 0px;">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Gelir Durumu <small>Yıllık</small></h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span> 30, 2014 - Ocak 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="container" style="min-width: 310px; height: 350px; margin: 0 auto;padding: 0 15px;"></div>
                    @*<div id="chart_plot_01" class="demo-placeholder"></div>*@
                </div>
                <div class="col-md-4 bg-white">
                    <div id="container2" style="min-width: 310px; max-width: 500px; height: 350px; margin: 0 auto"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Son Hareketler <small>Oturumlar</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Ayarlar</a>
                                </li>
                                <li>
                                    <a href="#">Ayarlar 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="height: 213px;overflow: auto;">
                    <div class="dashboard-widget-content">

                        <ul class="list-unstyled timeline widget">
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Ödememi gerçekleş tirdim fakat hala ödenmedi gözüküyor?</a>
                                        </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Radamel Falcao García Zárate</a>
                                        </div>
                                        <p class="excerpt">
                                            Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                        </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Janexxx Smith</a>
                                        </div>
                                        <p class="excerpt">
                                            Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                        </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Janexxx Smith</a>
                                        </div>
                                        <p class="excerpt">
                                            Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                        </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Janexxx Smith</a>
                                        </div>
                                        <p class="excerpt">
                                            Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Hızlı Ayarlar</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li>
                                <i class="fa fa-calendar-o"></i><a href="#">Ayarlar</a>
                            </li>
                            <li>
                                <i class="fa fa-bars"></i><a href="#">Abone</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Otomatik Yenileme</a> </li>
                            <li>
                                <i class="fa fa-line-chart"></i><a href="#">Başarılar</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Otomatik Yenileme</a> </li>
                            <li>
                                <i class="fa fa-line-chart"></i><a href="#">Başarılar</a>
                            </li>
                            <li>
                                <i class="fa fa-area-chart"></i><a href="#">Çıkış</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Hızlı Ayarlar</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li>
                                <i class="fa fa-calendar-o"></i><a href="#">Ayarlar</a>
                            </li>
                            <li>
                                <i class="fa fa-bars"></i><a href="#">Abone</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Otomatik Yenileme</a> </li>
                            <li>
                                <i class="fa fa-line-chart"></i><a href="#">Başarılar</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Otomatik Yenileme</a> </li>
                            <li>
                                <i class="fa fa-line-chart"></i><a href="#">Başarılar</a>
                            </li>
                            <li>
                                <i class="fa fa-area-chart"></i><a href="#">Çıkış</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>