@font-face {
    font-family: 'Roboto', serif;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Roboto', serif;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Roboto', serif;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
body, html {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    position:absolute;
    bottom:0px;
    width:100%;
}
    .footer .container{
        width:100%;
    }
        .footer .container .row {
            display: block;
            text-align: center;
        }
    .footer .container .row p {
        font-family:'Roboto',serif;
        font-size:14px;
        color: white;
    }
* {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Roboto', serif;
}

#gayrimenkulButton, #gayrimenkulLoginButton, #satilikKiralikLoginButton, #uyeOlButton {
    font-family: 'Roboto', serif;
    font-size: 16px;
    border: 1px solid #257478;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 260px;
    height: 40px;
    background-color: #0d394a;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

#satilikButton {
    background: #257478;
    font-family: 'Roboto', serif;
    font-size: 16px;
    border: 1px solid #0d394a;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 260px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

a {
    font-family: 'Roboto', serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #57b846;
    }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: 'Roboto', serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

    textarea:focus, input:focus {
        border-color: transparent !important;
    }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

        input:focus:-moz-placeholder {
            color: transparent;
        }

        input:focus::-moz-placeholder {
            color: transparent;
        }

        input:focus:-ms-input-placeholder {
            color: transparent;
        }

        textarea:focus::-webkit-input-placeholder {
            color: transparent;
        }

        textarea:focus:-moz-placeholder {
            color: transparent;
        }

        textarea:focus::-moz-placeholder {
            color: transparent;
        }

        textarea:focus:-ms-input-placeholder {
            color: transparent;
        }

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: 'Roboto', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #999999;
}

.txt2 {
    font-family: 'Roboto', serif;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    height: 100%;
    /*min-height: 100vh;*/ /*bu orta alana alýr*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-login100 {
    width: 960px;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*padding: 177px 130px 33px 95px;*/
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
    width: 350px;
    height: 97px;
    position: relative;
    z-index: 10;
}

    .login100-pic:hover {
        /*transform: translateY(-7px 3px 1px 0);*/
    }

    .login100-pic img {
        max-width: 100%;
    }


/*------------------------------------------------------------------
[  ]*/
/*.login100-form {
    width: 100%;
}*/

.login100-form-title {
    font-family: 'Roboto', serif;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    font-family: 'Roboto', serif;
    font-size: 16px;
    color: #666666;
    display: block;
    width: 260px;
    background: #e6e6e6;
    height: 40px;
    /*border-radius: 25px;*/
    padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
    display: block;
    position: absolute;
    /*border-radius: 25px;*/
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color: #57b846;
    padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-family: 'Roboto', serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn:hover {
        background: #333333;
    }



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
    .wrap-login100 {
        padding: 177px 90px 33px 85px;
    }

    .login100-pic {
        display: none;
    }

    .login100-form {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #loginLogo {
        display: block;
    }

    #gayriMenkulScreen .container-login100 form {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px;
    }

    #gayriMenkulScreen .container-login100 #formGayrimenkul {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .alert-validate::before {
        margin-right: 40px;
    }
    .cbp-spmenu .shadow-lg .col-md-12 option{
        color: red;
        font-family: 'Roboto',serif;
        font-size:40px;
    }  
    form .p-t-136 a{
       color:white!important;
       font-size:13px;
       margin-top:-5px;

   }
    form .p-t-136{
        padding:2px!important;
    }
}
/*iphone pluslar*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {

    form .p-t-136 {
        padding: 2px !important;
        margin-top:1%;
    }
}
@media (max-width: 576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px;
    }

    .footer .container .container #adress {
        display: none;
    }

    .footer .footer-contant {
        height: 100px !important;
    }
}

    @media (max-width: 350px) {
        .login100-pic {
            display: none;
            width: 250px;
            height: 97px;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: 0 !important;
        }
    }


    /*------------------------------------------------------------------
[ Alert validate ]*/

    .validate-input {
        position: relative;
    }

    /*.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: 'Roboto', serif;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: 'Roboto', serif;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 0;
    }

    .alert-validate::after {
        visibility: visible;
        opacity: 1;
    }
}*/
