@model CityExperWeb.Models.Gayrimenkul.GayrimenkulViewModel
@{
    ViewBag.Title = "Tasinmaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/tasinmazEklemeSayfasi.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <ul class="nav nav-tabs wizard">
        <li style="pointer-events:none" id="mainstep1" class="active">
            <a href="#" data-toggle="tab" aria-expanded="false">
                <p>
                    <span class="nmbr">1</span>
                    <b>Parsel</b>
                </p>
            </a>
        </li>
        <li style="pointer-events:none" id="mainstep2"><a href="#" data-toggle="tab" aria-expanded="false"><p><span class="nmbr">2</span> <b>Bina</b>   </p> </a></li>
        <li style="pointer-events:none" id="mainstep3"><a href="#" data-toggle="tab" aria-expanded="true"><p> <span class="nmbr">3</span> <b>Bağımsız</b>   </p> </a></li>
    </ul>
    <div class="container" id="altStep" style="display:block">
        <div class="row line">
            <div class="col-xs-4 stepText1"><p>Tapu Kadastro</p></div>
            <div class="col-xs-4 stepText2"><p>Belediye</p></div>
            <div class="col-xs-4 stepText3"><p>Diğer Kurum</p></div>
        </div>
        <div class="row">
            <div class="col-xs-4"><div class="step step1 active"></div></div>
            <div class="col-xs-4"><div class="step step2"></div></div>
            <div class="col-xs-4"><div class="step step3"></div></div>
        </div>
    </div>

    @*-------------------------------------------------------------------------------     TAPU KADASTRO BİLGİLERİ          ------------------------------------------------------------------------*@
    @Html.Partial("Partial_TapuKadastro", Model.ParselViewModel.TapuKadastroBilgiViewModel)
    @*-------------------------------------------------------------------------------     BELEDİYE BİLGİLERİ          ------------------------------------------------------------------------*@

    <div class="belediyeBilgileri" style="display:none;margin-top:1%;">
        <button class="accordion1" disabled>BELEDİYE BİLGİLERİ</button>
        <div class="panel2">
            <div class="" style="margin:1% 0px;">
                <div class="col-md-12" style="padding:0px;">
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control" id="MahalleListAdres" name="input">
                                <option value="" disabled selected>Plan Fonksiyonu</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="" class="form-control" placeholder="Emsal" />
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="" class="form-control" placeholder="İnşaat Alanı" />
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="" class="form-control" placeholder="Hmax" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" value="" class="form-control" placeholder="Kaks" />
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="" class="form-control" placeholder="Taks" />
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="" class="form-control" placeholder="Plan Adı" />
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="" class="form-control" placeholder="Plana Göre İnşaat Alanı" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="row">
                        <div class='col-md-3'>
                            <input id="datepicker" placeholder="Tespit Tarihi" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;margin:1% 0px;">
                    <div class="gwc-drag-drop-wrapper">
                        <div class="gwc-drag-drop-wrapper__dashes">
                            <div class="gwc-drag-drop-wrapper__dashes__message">
                                <i class="material-icons text-muted">cloud_upload</i>
                                <div class="gwc-drag-drop-wrapper__dashes__message__title">
                                    Sürükle & Bırak

                                </div>
                                <div class="gwc-drag-drop-wrapper__dashes__message__desc">
                                    Belge Ekle
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="float:right;padding:0px;">
                    <div class="col-md-3" style="float:right;padding:0.4%;">
                        <div class="autoCenter">
                            <button class="col-md-5" id="nextBelediye">İleri</button>
                            <button class="col-md-5" id="prevBelediye">Geri</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*-------------------------------------------------------------------------------     DİĞER KURUM BİLGİLERİ          ------------------------------------------------------------------------*@

    <div class="digerKurumBilgileri" style="display:none;margin-top:1%;">
        <button class="accordion1" disabled>DİĞER KURUM BİLGİLERİ</button>
        <div class="panel2">
            <div class="" style="margin:1% 0px;">
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Kurum Adı</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Alınan Tarih" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Belge No" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Belge Tarih" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;margin:1% 0px;">
                    <div class="gwc-drag-drop-wrapper">
                        <div class="gwc-drag-drop-wrapper__dashes">
                            <div class="gwc-drag-drop-wrapper__dashes__message">
                                <i class="material-icons text-muted">cloud_upload</i>
                                <div class="gwc-drag-drop-wrapper__dashes__message__title">
                                    Sürükle & Bırak

                                </div>
                                <div class="gwc-drag-drop-wrapper__dashes__message__desc">
                                    Belge Ekle
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="float:right;padding:0px;">
                <div class="col-md-3" style="float:right;padding:0.4%;">
                    <div class="autoCenter">
                        <button class="col-md-5" id="nextDigerKurum">İleri</button>
                        <button class="col-md-5" id="prevDigerKurum">Geri</button>

                    </div>
                </div>
            </div>
        </div>


    </div>

    @*-------------------------------------------------------------------------------     BİNA BİLGİLERİ          ------------------------------------------------------------------------*@
    <div class="binaBilgileri" style="display:none; margin-top:1%;">
        <button class="accordion1" disabled>BİNA BİLGİLERİ</button>
        <div class="panel2">
            <div class="" style="margin:1% 0px;">
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Cadde/Sokak</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Kapı No" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="UAVT No" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Bina Türü" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Yapı Nizami" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="İşyeri Adedi" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Konut Adedi" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Bağımsız Adedi" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Bodrum Kat" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Zemin Kat" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Normal Kat" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Asma Kat" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">

                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Çatı Katı" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Toplam Kat Adedi" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Taban Alan" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="İnşaat Alanı" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="İnşaat m² Birim Fiyatı" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Öngörülen m² Değeri" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Bina Değeri" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Yak Yapı Yüksekliği" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">

                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Bina Konumu</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Yapı Yaşı</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>İnşaat Türü</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Otopark</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Asansör</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Çatı Tipi</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Şerefiye</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Site İçinde</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Tespit Yapan</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Tespit Tarihi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <form action="#">
                        <div class="form-group col-md-6" style="padding:0px 0.4% 0px 0.4%;">
                            <textarea class="form-control" rows="4" id="comment" name="text" placeholder="Açıklama"></textarea>
                        </div>
                        @*<button type="submit" class="btn btn-primary">Submit</button>*@
                        <div class="form-group col-md-6" style="padding:0px 0.4% 0px 0.4%;">
                            <textarea class="form-control" rows="4" id="comment" name="text" placeholder="Görüşler"></textarea>
                        </div>
                        @*<button type="submit" class="btn btn-primary">Submit</button>*@
                    </form>
                </div>

                <div class="col-md-12" style="padding:0px;margin:1% 0px;">
                    <div class="gwc-drag-drop-wrapper">
                        <div class="gwc-drag-drop-wrapper__dashes">
                            <div class="gwc-drag-drop-wrapper__dashes__message">
                                <i class="material-icons text-muted">cloud_upload</i>
                                <div class="gwc-drag-drop-wrapper__dashes__message__title">
                                    Sürükle & Bırak

                                </div>
                                <div class="gwc-drag-drop-wrapper__dashes__message__desc">
                                    Belge Ekle
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3" style="float:right;padding:0.4%;">
                        <div class="autoCenter">
                            <button class="col-md-5" style="float:right" id="nextBina">İleri</button>
                            <button class="col-md-5" style="float:right" id="prevBina">Geri</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*----------------------------------------------------------------------------------- İSKAN ------------------------------------------------------------------------*@
        <div class="bilgigoruntuleme">
            <button class="accordion">
                İSKAN
                <ul class="nav navbar-right panel_toolbox" style="margin-right:1px;">
                    <li>
                        <a class=" navbar-right "><i class="fa fa-chevron-down"></i></a>
                    </li>
                    <li>
                        <a class=" navbar-right "><i class="far fa-plus-square" data-toggle="modal" data-target="#modalIskan"></i></a>
                    </li>
                </ul>
            </button>
            <div class="panel1">
                <div class="col-md-12" style="padding:0px;">
                    <form action="#">
                        <div class="col-md-6" style="padding:0 0.4%;">
                            <input type="text" value="" class="form-control" placeholder="İskan No: " style="background:white;pointer-events:none" />
                        </div>
                        <div class="col-md-6" style="padding:0 0.4%;">
                            <input type="text" value="" class="form-control" placeholder="İskan Tarih: " style="background:white;pointer-events:none" />
                        </div>
                        <div class="form-group col-md-12" style="padding:0.4% 0.4%;">
                            <textarea class="form-control" rows="4" id="comment" name="text" placeholder="İskan Açıklama: " style="background:white;pointer-events:none"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalIskan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="accordionMalik">İskan Bilgileri</button>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-6" style="padding:0 0.4%;">
                                <input type="text" value="" class="form-control" placeholder="İskan No " />
                            </div>
                            <div class="col-md-6" style="padding:0 0.4%;">
                                <input type="text" value="" class="form-control" placeholder="İskan Tarih " />
                            </div>
                            <div class="form-group col-md-12" id="form-group" style="padding:1% 0.4%;">
                                <textarea class="form-control" rows="4" id="comment" name="text" placeholder="İskan Açıklama "></textarea>
                            </div>
                            <div class="col-md-12" style="padding:0px;margin:1% 0px;">
                                <div class="gwc-drag-drop-wrapper">
                                    <div class="gwc-drag-drop-wrapper__dashes">
                                        <div class="gwc-drag-drop-wrapper__dashes__message">
                                            <i class="material-icons text-muted">cloud_upload</i>
                                            <div class="gwc-drag-drop-wrapper__dashes__message__title">
                                                Sürükle & Bırak

                                            </div>
                                            <div class="gwc-drag-drop-wrapper__dashes__message__desc">
                                                Belge Ekle
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
            @*---------------------------------------------------------------------------------------------- YAPI RUHSAT ---------------------------------------------------------------------------------*@
            <button class="accordion">
                YAPI RUHSAT
                <ul class="nav navbar-right panel_toolbox" style="margin-right:1px;">
                    <li>
                        <a class=" navbar-right "><i class="fa fa-chevron-down"></i></a>
                    </li>
                    <li>
                        <a class=" navbar-right "><i class="far fa-plus-square" data-toggle="modal" data-target="#modalYapıRuhsat"></i></a>
                    </li>
                </ul>
            </button>
            <div class="panel1">
                <div class="col-md-6" style="padding:0 0.4%;">
                    <input type="text" value="" class="form-control" placeholder="Yapı Ruhsat No: " style="background:white;pointer-events:none" />
                </div>
                <div class="col-md-6" style="padding:0 0.4%;">
                    <input type="text" value="" class="form-control" placeholder="Yapı Ruhsat Tarih: " style="background:white;pointer-events:none" />
                </div>
                <div class="form-group col-md-12" style="padding:0.4% 0.4%;">
                    <textarea class="form-control" rows="4" id="comment" name="text" placeholder="Yapı Ruhsat Açıklama: " style="background:white;pointer-events:none"></textarea>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalYapıRuhsat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="accordionMalik">Yapı Ruhsat Bilgileri</button>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-6" style="padding:0 0.4%;">
                                <input type="text" value="" class="form-control" placeholder="Yapı Ruhsat No " />
                            </div>
                            <div class="col-md-6" style="padding:0 0.4%;">
                                <input type="text" value="" class="form-control" placeholder="Yapı Ruhsat Tarih " />
                            </div>
                            <div class="form-group col-md-12" style="padding:1% 0.4%;">
                                <textarea class="form-control" rows="4" id="comment" name="text" placeholder="Yapı Ruhsat Açıklama "></textarea>
                            </div>
                            <div class="col-md-12" style="padding:0px;margin:1% 0px;">
                                <div class="gwc-drag-drop-wrapper">
                                    <div class="gwc-drag-drop-wrapper__dashes">
                                        <div class="gwc-drag-drop-wrapper__dashes__message">
                                            <i class="material-icons text-muted">cloud_upload</i>
                                            <div class="gwc-drag-drop-wrapper__dashes__message__title">
                                                Sürükle & Bırak

                                            </div>
                                            <div class="gwc-drag-drop-wrapper__dashes__message__desc">
                                                Belge Ekle
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
            @*---------------------------------------------------------------------------------------------- ONAYLI PROJE ---------------------------------------------------------------------------------*@

            <button class="accordion">
                ONAYLI PROJE
                <ul class="nav navbar-right panel_toolbox" style="margin-right:1px;">
                    <li>
                        <a class=" navbar-right "><i class="fa fa-chevron-down"></i></a>
                    </li>
                    <li>
                        <a class=" navbar-right "><i class="far fa-plus-square" data-toggle="modal" data-target="#modalOnayliProje"></i></a>
                    </li>
                </ul>
            </button>
            <div class="panel1">
                <div class="col-md-6" style="padding:0 0.4%;">
                    <input type="text" value="" class="form-control" placeholder="Onaylı Proje No: " style="background:white;pointer-events:none" />
                </div>
                <div class="col-md-6" style="padding:0 0.4%;">
                    <input type="text" value="" class="form-control" placeholder="Onaylı Proje Tarih: " style="background:white;pointer-events:none" />
                </div>
                <div class="form-group col-md-12" style="padding:0.4% 0.4%;">
                    <textarea class="form-control" rows="4" id="comment" name="text" placeholder="Onaylı Proje Açıklama: " style="background:white;pointer-events:none"></textarea>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalOnayliProje" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="accordionMalik">Onaylı Proje Bilgileri</button>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-6" style="padding:0 0.4%;">
                                <input type="text" value="" class="form-control" placeholder="Onaylı Proje No " />
                            </div>
                            <div class="col-md-6" style="padding:0 0.4%;">
                                <input type="text" value="" class="form-control" placeholder="Onaylı Proje Tarih " />
                            </div>
                            <div class="form-group col-md-12" style="padding:1% 0.4%;">
                                <textarea class="form-control" rows="4" id="comment" name="text" placeholder="Onaylı Proje Açıklama "></textarea>
                            </div>
                            <div class="col-md-12" style="padding:0px;margin:1% 0px;">
                                <div class="gwc-drag-drop-wrapper">
                                    <div class="gwc-drag-drop-wrapper__dashes">
                                        <div class="gwc-drag-drop-wrapper__dashes__message">
                                            <i class="material-icons text-muted">cloud_upload</i>
                                            <div class="gwc-drag-drop-wrapper__dashes__message__title">
                                                Sürükle & Bırak

                                            </div>
                                            <div class="gwc-drag-drop-wrapper__dashes__message__desc">
                                                Belge Ekle
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
            @*---------------------------------------------------------------------------------------------- YAPI KAYIT BELGESİ ---------------------------------------------------------------------------------*@

            <button class="accordion">
                YAPI KAYIT BELGESİ
                <ul class="nav navbar-right panel_toolbox" style="margin-right:1px;">
                    <li>
                        <a class=" navbar-right "><i class="fa fa-chevron-down"></i></a>
                    </li>
                    <li>
                        <a class=" navbar-right "><i class="far fa-plus-square" data-toggle="modal" data-target="#modalYapıKayıtBelgesi"></i></a>
                    </li>
                </ul>
            </button>
            <div class="panel1">
                <div class="col-md-6" style="padding:0 0.4%;">
                    <input type="text" value="" class="form-control" placeholder="Yapı Kayıt No: " style="background:white;pointer-events:none" />
                </div>
                <div class="col-md-6" style="padding:0 0.4%;">
                    <input type="text" value="" class="form-control" placeholder="Yapı Kayıt Tarih: " style="background:white;pointer-events:none" />
                </div>
                <div class="form-group col-md-12" style="padding:0.4% 0.4%;">
                    <textarea class="form-control" rows="4" id="comment" name="text" placeholder="Yapı Kayıt Açıklama: " style="background:white;pointer-events:none"></textarea>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalYapıKayıtBelgesi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="accordionMalik">Yapı Kayıt Bilgileri</button>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-6" style="padding:0 0.4%;">
                                <input type="text" value="" class="form-control" placeholder="Yapı Kayıt No " />
                            </div>
                            <div class="col-md-6" style="padding:0 0.4%;">
                                <input type="text" value="" class="form-control" placeholder="Yapı Kayıt Tarih " />
                            </div>
                            <div class="form-group col-md-12" style="padding:0.4% 0.4%;">
                                <textarea class="form-control" rows="4" id="comment" name="text" placeholder="Yapı Kayıt Açıklama "></textarea>
                            </div>
                            <div class="col-md-12" style="padding:0px;margin:1% 0px;">
                                <div class="gwc-drag-drop-wrapper">
                                    <div class="gwc-drag-drop-wrapper__dashes">
                                        <div class="gwc-drag-drop-wrapper__dashes__message">
                                            <i class="material-icons text-muted">cloud_upload</i>
                                            <div class="gwc-drag-drop-wrapper__dashes__message__title">
                                                Sürükle & Bırak

                                            </div>
                                            <div class="gwc-drag-drop-wrapper__dashes__message__desc">
                                                Belge Ekle
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    @*-------------------------------------------------------------------------------     BAĞIMSIZ BİLGİLERİ          ------------------------------------------------------------------------*@

    <div class="bagimsizBilgileri" style="display:none; margin-top:1%;">
        <button class="accordion1" disabled>BAĞIMSIZ BİLGİLERİ</button>
        <div class="panel2">
            <div class="" style="margin:1% 0px;">
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Bağımsız Bölüm No" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Bağımsız Kat No" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Elektrik Sayaç No" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Su Sayaç No" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Kullanım Türü</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Doğalgaz Sayaç No" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Isınma Türü" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="m² Birim Fiyatı" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Manzara</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Bağımsız Alan" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Oda Sayısı" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Banyo Sayısı" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Balkon</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Hisse Durumu" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Aidat" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Şerefiye" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">

                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Cephe</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Toplam Bedel" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Tespit Yapan" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="" class="form-control" placeholder="Tespit Tarihi" />
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-3">
                        <select class="form-control" id="MahalleListAdres" name="input">
                            <option value="" disabled selected>Balkon</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <form action="#">
                        <div class="form-group col-md-6" style="padding: 0px 0.4% 0px 0.4%;">
                            <textarea class="form-control" rows="4" id="comment" name="text" placeholder="Açıklama"></textarea>
                        </div>
                        <div class="form-group col-md-6" style="padding: 0px 0.4% 0px 0.4%;">
                            <textarea class="form-control" rows="4" id="comment" name="text" placeholder="Görüşler"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-md-12" style="padding:0px;margin:0% 0px;">
                    <div class="gwc-drag-drop-wrapper" style="padding: 0 0.4% 0 0.4%;">
                        <div class="gwc-drag-drop-wrapper__dashes">
                            <div class="gwc-drag-drop-wrapper__dashes__message">
                                <i class="material-icons text-muted">cloud_upload</i>
                                <div class="gwc-drag-drop-wrapper__dashes__message__title">
                                    Sürükle & Bırak
                                </div>
                                <div class="gwc-drag-drop-wrapper__dashes__message__desc">
                                    Belge Ekle
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="float:right;padding:0px;">
                <div class="col-md-3" style="float:right;padding:0.4%;">
                    <div class="autoCenter">
                        <button class="col-md-5" id="nextBagimsiz">İleri</button>
                        <button class="col-md-5" id="prevBagimsiz">Geri</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<script>

    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker2').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker3').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker4').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker5').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker6').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker7').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker8').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker9').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker10').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker11').datepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#ilListesi').change(function () {
        $.ajax({
            url: "/yonetim/IlceListele", //burdaki url controller/actiondır
            data: { ilId: $(this).val() },//datamdacontrollera gönderdiğim parametredir ilId  olarakgönderdim tanımlamalaraynıolcak
            dataType: "JSON",
            success: function (result) { //yani controllerdan bana data döndüğünde dönen data result a atılır.
                var ilce = $("#ilceListesi"); //ilce select optionumu aldım
                ilce.empty();
                $.each(result, function (i, item) { // each javascript döngsüdür ilce sayısıkadar döner.
                    ilce.append($("<option></option>").attr("value", item.Id).html(item.Adi));
                    //append eklemektir ilce sayısıkadar option ekledim + attr  budaoption value="ilce_id" html ile ilceadlarınıyazdırdım
                });
            }
        });
    });
</script>