<style>

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    .button {
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    .buttonIleri {
        float: right;
        display: inline-block;
        border-radius: 4px;
        background-color: #017163;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        padding: 4px;
        width: 110px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

        .buttonIleri span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .buttonIleri span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .buttonIleri:hover {
            background: #90a19e;
            transition: 0.5s;
        }

            .buttonIleri:hover span {
                padding-right: 25px;
            }

                .buttonIleri:hover span:after {
                    opacity: 1;
                    right: 0;
                }

    .switch {
        position: relative;
        display: block;
        vertical-align: top;
        width: 100px;
        height: 30px;
        padding: 3px;
        margin: 0 10px 10px 0;
        background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
        background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
        border-radius: 18px;
        box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }

    .switch-input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .switch-label {
        position: relative;
        display: block;
        height: inherit;
        font-size: 10px;
        text-transform: uppercase;
        background: #eceeef;
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    }

        .switch-label:before, .switch-label:after {
            position: absolute;
            top: 50%;
            margin-top: -.5em;
            line-height: 1;
            -webkit-transition: inherit;
            -moz-transition: inherit;
            -o-transition: inherit;
            transition: inherit;
        }

        .switch-label:before {
            content: attr(data-off);
            right: 11px;
            color: #aaaaaa;
            text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        }

        .switch-label:after {
            content: attr(data-on);
            left: 11px;
            color: #FFFFFF;
            text-shadow: 0 1px rgba(0, 0, 0, 0.2);
            opacity: 0;
        }

    .switch-input:checked ~ .switch-label {
        background: #E1B42B;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
    }

        .switch-input:checked ~ .switch-label:before {
            opacity: 0;
        }

        .switch-input:checked ~ .switch-label:after {
            opacity: 1;
        }

    .switch-handle {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 28px;
        height: 28px;
        background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
        background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
        border-radius: 100%;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }

        .switch-handle:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -6px 0 0 -6px;
            width: 12px;
            height: 12px;
            background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
            background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
            border-radius: 6px;
            box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
        }

    .switch-input:checked ~ .switch-handle {
        left: 74px;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    /* Transition ========================== */
    .switch-label, .switch-handle {
        transition: All 0.3s ease;
        -webkit-transition: All 0.3s ease;
        -moz-transition: All 0.3s ease;
        -o-transition: All 0.3s ease;
    }

    #container {
        height: 400px;
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }
</style>
@{
    ViewBag.Title = "Tasinmaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div id="collapse3a" class="panel-collapse collapse in">
        <div class="panel-heading col-md-12">
            <h3 class="text-center">
                <a>
                    Tapu Kadastro Bilgileri
                </a>
            </h3>
        </div>
        <div class="widget widget-form" id="form">
            <form action="#" method="post">
                <div class="box-container widget-body">
                    <div class="form-additional">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-4 col-sm-2">
                                    <div class="form-group">
                                        <select class="form-control" id="il" name="input" style="border-radius:20px;">
                                            <option value="" disabled selected>il</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-2">
                                    <div class="form-group">
                                        <select class="form-control" id="ilceListAdres" name="input" style="border-radius:20px;">
                                            <option value="" disabled selected>İlçe</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-2">
                                    <div class="form-group">
                                        <select class="form-control" id="MahalleListAdres" name="input" style="border-radius:20px;">
                                            <option value="" disabled selected>Tapu Mahalle</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-4">
                                            <input type="text" id="paftaNo" class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Pafta Numarası" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id="adaNo" class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Ada Numarası" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id="parselNo" class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Parsel Numarası" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-4">
                                            <input type="text" id='tapuAlan' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Tapu Alanı" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id='zeminTip' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Zemin Tipi" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id='zeminRefNo' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Zemin Referans Numarası" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-4">
                                            <input type="text" id='nitelik' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Nitelik" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id='cilt' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Cilt" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id='sayfa' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Sayfa" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-4">
                                            <input type="text" id='tespitYapan' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Tespit Yapan" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id='tespitTarihi' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Tespit Tarihi" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                                <input class="switch-input" type="checkbox" />
                                                <span class="switch-label" data-on="Evet" data-off="Hayır"></span> <span class="switch-handle"></span>
                                            </label>
                                            <input type="text" id='hisseli' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Hisseli" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                                <input class="switch-input" type="checkbox" />
                                                <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                            </label>
                                            <input type="text" id='isgalci' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="İşgalci" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='malik' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="Malik" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='serh' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="Şerh" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='beyan' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="Beyan" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='irtifak' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="İrtifak" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='haciz' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="Haciz " />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='ipotek' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="İpotek" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <buttonIleri type="buttonIleri" id="tapuIleri" class="buttonIleri" style="vertical-align:middle;"><span>İleri</span></buttonIleri>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="collapse3b" class="panel-collapse collapse in" style="display:none;">
        <div class="panel-heading col-md-12">
            <h3 class="text-center">
                <a>
                    Belediye Bilgileri
                </a>
            </h3>
        </div>
        <div class="widget widget-form" id="form">
            <form action="#" method="post">
                <div class="box-container widget-body">
                    <div class="form-additional">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-4 col-sm-2">
                                    <div class="form-group">
                                        <select class="form-control" id="il" name="input" style="border-radius:20px;">
                                            <option value="" disabled selected>il</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-2">
                                    <div class="form-group">
                                        <select class="form-control" id="ilceListAdres" name="input" style="border-radius:20px;">
                                            <option value="" disabled selected>İlçe</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-2">
                                    <div class="form-group">
                                        <select class="form-control" id="MahalleListAdres" name="input" style="border-radius:20px;">
                                            <option value="" disabled selected>Tapu Mahalle</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-4">
                                            <input type="text" id="paftaNo" class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Pafta Numarası" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id="adaNo" class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Ada Numarası" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id="parselNo" class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Parsel Numarası" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-4">
                                            <input type="text" id='tapuAlan' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Tapu Alanı" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id='zeminTip' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Zemin Tipi" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id='zeminRefNo' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Zemin Referans Numarası" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-4">
                                            <input type="text" id='nitelik' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Nitelik" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id='cilt' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Cilt" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id='sayfa' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Sayfa" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-4">
                                            <input type="text" id='tespitYapan' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Tespit Yapan" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" id='tespitTarihi' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Tespit Tarihi" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                                <input class="switch-input" type="checkbox" />
                                                <span class="switch-label" data-on="Evet" data-off="Hayır"></span> <span class="switch-handle"></span>
                                            </label>
                                            <input type="text" id='hisseli' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="Hisseli" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                                <input class="switch-input" type="checkbox" />
                                                <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                            </label>
                                            <input type="text" id='isgalci' class="form-control" style=" height:35px; border-radius:17px;"
                                                   placeholder="İşgalci" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='malik' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="Malik" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='serh' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="Şerh" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='beyan' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="Beyan" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='irtifak' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="İrtifak" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='haciz' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="Haciz " />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="switch" style="position:absolute;z-index:10;right:1px;background:none ">
                                            <input class="switch-input" type="checkbox" />
                                            <span class="switch-label" data-on="Var" data-off="Yok"></span> <span class="switch-handle"></span>
                                        </label>
                                        <input type="text" id='ipotek' class="form-control" style=" height:35px; border-radius:17px;"
                                               placeholder="İpotek" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <buttonIleri type="buttonIleri" id="belediyeIleri" class="buttonIleri" style="vertical-align:middle;"><span>İleri</span></buttonIleri>
                            <buttonIleri type="buttonIleri" id="belediyeGeri" class="buttonIleri" style="vertical-align:middle;"><span>Geri</span></buttonIleri>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script type="text/javascript">
        $("#tapuIleri").click(function () {
            $("#collapse3a").fadeOut(100);
            $("#collapse3b").fadeIn(1000);
            $("#collapse3c").fadeOut(100);
        });

        $("#belediyeIleri").click(function () {
            $("#collapse3a").fadeOut(100);
            $("#collapse3b").fadeOut(100);
            $("#collapse3c").fadeIn(1000);
            $("Baslik").html("Belediye Bilgileri");
        });
        $("#belediyeGeri").click(function () {
            $("#collapse3a").fadeIn(1000);
            $("#collapse3b").fadeOut(100);
            $("#collapse3c").fadeOut(100);
        });
    </script>
}
