<link href="~/Assets/css/footer.css" rel="stylesheet" />
<footer class="footer">
    <div class="footer">
        <p class="company"> KENTİST HARİTA MÜHENDİSLİĞİ VE MİMARLIK DANIŞMANLIK HİZMETLERİ SAN VE TİC LTD ŞTİ © 2012 </p>
        <p class="linkedin"><i class="fab fa-linkedin-in"></i></p>
        <p class="instagram"><i class="fab fa-instagram"></i></p>
        <p class="twitter"><i class="fab fa-twitter"></i></p>
        <p class="facebook"><i class="fab fa-facebook-f"></i></p>
    </div>
</footer>