<footer class="footer">
        <div class="footer-bottom">
            <div class="row">
                <span class="" style="float: right; margin-right: 29px;">
                    <a href="#">
                        KENTİST HARİTA MÜHENDİSLİĞİ VE MİMARLIK DANIŞMANLIK HİZMETLERİ SAN.
                        VE TİC.LTD.ŞTİ. &#169; 2012
                    </a>
                </span>
            </div>
        </div><!-- /.footer-bottom -->
</footer>