
<footer class="footer " style="padding:3px 10px;">
    @*<div class="container footer-mask">*@
        @*<div class="container footer-contant">
            <div class="row">
                <div class="col-md- hidden-sm hidden-xs">
                    <div class="logo"><a href="#"><img src="assets/img/placeholders/360x85.png" alt="" /></a></div>
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="title">
                        <h4>İLETİŞİM</h4>
                    </div>
                    <ul class="list list-contact  list-news">
                        <li>
                            Dikilitaş Mahallesi Eren Sokak
                            No:10 Kat 4 Daire 10-11
                            Beşiktaş/İstanbul
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> 0 (212) 258 53 68

                        </li>
                        <li><i class="fa fa-phone"></i>  0 (212) 258 53 68 </li>
                        <li><i class="fa fa-envelope"></i>  Kentist@kentist.com.tr</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6  hidden-sm hidden-xs">
                    <div class="title">
                        <h4>Yenilikler</h4>
                    </div>
                    <ul class="list list-news">
                        <li>
                            <a href="page_gallery.html" class="title">Lazer Tarama</a>
                            <span class="description">
                                Ocak 6, 2012
                            </span>
                        </li>
                        <li>
                            <a href="page_gallery.html" class="title">Nokta Bulut</a>
                            <span class="description">
                                Mayıs 22, 2012
                            </span>
                        </li>
                        <li>
                            <a href="page_gallery.html" class="title">Gayrimenkul Danışmanlığı</a>
                            <span class="description">
                                Haziran 22, 2012
                            </span>
                        </li>
                        <li>
                            <a href="page_gallery.html" class="title">Disagnart</a>
                            <span class="description">
                                Ocak 19, 2012
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="title">
                        <h4>Açık Olduğu Saatler</h4>
                    </div>
                    <ul class="list list-hours">
                        <li>
                            <a href="page_gallery.html" class="title">Pazartesi-Cuma</a>
                            <span class="description">
                                09.00 am - 18.00 pm
                            </span>
                        </li>
                        <li>
                            <a href="page_gallery.html" class="title">Cumartesi:</a>
                            <span class="description">
                                10.00 am - 16.00 pm
                            </span>
                        </li>
                        <li>
                            <a href="page_gallery.html" class="title">Pazar:</a>
                            <span class="description">
                                Kapalı
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@<!-- /.footer-content -->
        @*<div class="footer-bottom ">
            <div class="container text-right  shadow-lg p-1 mb-3 bg-none rounded">
                <span class=""><a href="#"> KENTİST HARİTA MÜHENDİSLİĞİ VE MİMARLIK DANIŞMANLIK HİZMETLERİ SAN.TİC.LTD.ŞTİ by &#169; 2012</a></span>
            </div>
        </div>*@<!-- /.footer-bottom -->
    @*</div>*@
</footer>