<style>
    .navbar-light {
        margin-bottom: 0px;
        border-radius: 0px;
        background-color: green;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to right,#0d394a,#2f8c8b);
        border-bottom: 4px solid #a99975;
        font-family: Roboto, bold;
    }

        .navbar-light .navbar-nav .nav-link {
            font-size: 16px;
            color: white;
            font-family: Roboto, bold;
        }

            .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
                font-size: 16px;
                color: white;
                font-family: Roboto, bold;
            }

    .navbar-brand {
        padding: 0px;
        height: 28px;
        margin-top: 1px;
        font-family: Roboto, bold;
    }
</style>
<header class="header">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img src="/Assets/img/CityExper3.png" />
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link" style="border-left: 4px solid #a99975;"><span>Anasayfa</span></a>
                <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false" href="@Url.Action("Tasinmaz","Yonetim")">Taşınmaz Ekle</a>
                <a href="#" class="nav-item nav-link">Raporlama</a>
            </div>
            <div class="navbar-nav ml-auto" style="border-left: 4px solid #a99975;">
                <a href="#" class="nav-item nav-link"><span class="glyphicon glyphicon-user"></span>  Profilim</a>
            </div>
        </div>
    </nav>
</header>