@{
    Layout = null;
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div id="oneCikanFormu" class="col-md-4 content-primary" style="overflow:scroll;height:745px;">
    <header class="w3-container w3-light-grey" style="text-align:center;">
        <h2>Öne Çıkanlar</h2>
        <div class="properties">
            <div class="row">
                @* Vucino Han *@
                @*<div class="col-md-6 col-sm-6">
            <div class="property-card card">
                <div class="property-card-header image-box">
                    <img src="Assets/img/placeholders/vucinohan.png" alt="" class="" />
                    <a href="#.html" class="property-card-hover">
                        <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                        <img src="Assets/img/plus.png" alt="" class="center-icon" />
                        <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                    </a>
                </div>
                <div class="property-card-tags">
                    <span class="label label-default label-tag-primary">Satılık</span>
                </div>
                <div class="property-card-box card-box card-block">
                    <h3 class="property-card-title">
                        <a href="listing.html">Vucino Han</a>
                    </h3>
                    <div class="property-card-descr">
                        Bina                : Vucino Han
                        <br />
                        İlçe                : Beyoğlu
                        <br />
                        Mahalle             : Tomtom Mahallesi
                        <br />
                        Cadde               : Muammer Karaca
                        <br />
                        No                  : 3
                    </div>
                    <div class="property-preview-footer  clearfix">
                        <div class="property-preview-f-left text-color-primary">
                            <span class="property-card-value">
                                <i class="fa fa-home"></i>İş Hanı
                            </span>
                            <span class="property-card-value">
                                <i class="fa fa-square-o"></i>800 m²
                            </span>
                            <span class="property-card-value">
                                60 000
                                <i class="fa fa-try"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="property-card card">
                <div class="property-card-header image-box">
                    <img src="Assets/img/placeholders/kurtuluscaddesi.png" alt="" class="" />
                    <a href="#.html" class="property-card-hover">
                        <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                        <img src="Assets/img/plus.png" alt="" class="center-icon" />
                        <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                    </a>
                </div>
                <div class="property-card-tags">
                    <span class="label label-default label-tag-primary">Kiralık</span>
                </div>
                <div class="property-card-box card-box card-block">
                    <h3 class="property-card-title">
                        <a href="listing.html">Filiz Apt.</a>
                    </h3>
                    <div class="property-card-descr">
                        Bina                : Filiz Apt.
                        <br />
                        İlçe                : Şişli
                        <br />
                        Mahalle             : Duatepe Mahallesi
                        <br />
                        Cadde               : Kurtuluş Caddesi
                        <br />
                        No                  : 18
                    </div>
                    <div class="property-preview-footer  clearfix">
                        <div class="property-preview-f-left text-color-primary">
                            <span class="property-card-value">
                                <i class="fa fa-home"></i>Daire
                            </span>
                            <span class="property-card-value">
                                <i class="fa fa-square-o"></i>150 m²
                            </span>
                            <span class="property-card-value">
                                1700
                                <i class="fa fa-try"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/suadiye.png" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Suadiye Apt.</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Suadiye Apt.
                                    <br />
                                    İlçe                : Kadıköy
                                    <br />
                                    Mahalle             : Suadiye Mahallesi
                                    <br />
                                    Cadde               : Bağdat Caddesi
                                    <br />
                                    No                  : 437

                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>İş Yeri
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>196 m²
                                        </span>
                                        <span class="property-card-value">
                                            6000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis1.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 1 </a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Özsoy Plaza
                                    <br />
                                    İlçe                : Beşiktaş
                                    <br />
                                    Mahalle             : Dikilitaş Mahallesi
                                    <br />
                                    Cadde               : Eren Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-tint"></i>1
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis5.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 2</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis3.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 3</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis4.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 4</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis5.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 5</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis1.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 6</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis5.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 7</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis2.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 8</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis4.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 9</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis1.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 2</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis3.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 3</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis2.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 2</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis3.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 3</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis3.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 2</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis4.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 3</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis1.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 2</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis2.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 3</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis2.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 2</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="property-card card">
                            <div class="property-card-header image-box">
                                <img src="Assets/img/placeholders/ofis1.jpg" alt="" class="" />
                                <a href="#.html" class="property-card-hover">
                                    <img src="Assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                    <img src="Assets/img/plus.png" alt="" class="center-icon" />
                                    <img src="Assets/img/icon-notice.png" alt="" class="right-icon" />
                                </a>
                            </div>
                            <div class="property-card-tags">
                                <span class="label label-default label-tag-primary">Kiralık veya Satılık</span>
                            </div>
                            <div class="property-card-box card-box card-block">
                                <h3 class="property-card-title">
                                    <a href="listing.html">Bina Adı 3</a>
                                </h3>
                                <div class="property-card-descr">
                                    Bina                : Bina Adı
                                    <br />
                                    İlçe                : ilçe
                                    <br />
                                    Mahalle             :  Mahallesi
                                    <br />
                                    Cadde               :  Sokak
                                    <br />
                                    No                  : 10/11
                                </div>
                                <div class="property-preview-footer  clearfix">
                                    <div class="property-preview-f-left text-color-primary">
                                        <span class="property-card-value">
                                            <i class="fa fa-home"></i>Daire
                                        </span>
                                        <span class="property-card-value">
                                            <i class="fa fa-square-o"></i>200 m²
                                        </span>
                                        <span class="property-card-value">
                                            60 000
                                            <i class="fa fa-try"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>

</div>


