@{
    ViewBag.Title = "TasinmazDurum";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Assets/css/tasinmazDurum.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="panel-heading" style="font-size:24px;font-family:Roboto">
        Taşınmaz Durum
        @*kerimaddss*@
    </div>
    <div class="row" style="border: 1px solid #CDEBF4;">
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="row">
                <div class="places_select">
                    <a class="btn col-md-2" data-toggle="tooltip" data-rel="hospital,health" title="Hastane" style="background:#236f74;argin-top:auto;  margin-bottom:auto;">

                        <img src="~/Assets/img/places_icons/hospital.png" alt='hospital,health' style="height:30px; width:30px;" />
                        <p>HASTANE </p>

                    </a>
                    <a class="btn col-md-2" data-toggle="tooltip" data-rel="park" title="Yeşil Alan" style="background:#236f74; margin-top:auto;  margin-bottom:auto;">

                        <img src="~/Assets/img/places_icons/park.png" alt='park' style="height:30px; width:30px;"/>

                        <p> YEŞİL ALAN</p>
                    </a>
                    <a class="btn col-md-2" data-toggle="tooltip" data-rel="atm,bank" title="Bankamatik" style="background:#236f74; margin-top:auto;  margin-bottom:auto;">

                        <img src="~/Assets/img/places_icons/atm.png" alt='atm' style="height:30px; width:30px;"/>
                        <p> ATM</p>

                    </a>
                    <a class="btn col-md-2" data-toggle="tooltip" data-rel="gas_station" title="Petrol Ofisi" style="background:#236f74; argin-top:auto;  margin-bottom:auto;">

                        <img src="~/Assets/img/places_icons/benzinlik.png" alt="gas_station" style="height:30px; width:30px;"/>
                        <p> BENZİNLİK</p>

                    </a>
                    <a class="btn col-md-2" data-toggle="tooltip" data-rel="food,bar,cafe,restourant" title="Restaurant" style="background:#236f74;argin-top:auto;  margin-bottom:auto; ">

                        <img src="~/Assets/img/places_icons/restaurant.png" alt="food" style="height:30px; width:30px;" />
                        <p> RESTAURANT </p>
                    </a>
                    <a class="btn col-md-2" data-toggle="tooltip" data-rel="store" title="Mağaza" style="background:#236f74;argin-top:auto;  margin-bottom:auto;">

                        <img src="~/Assets/img/places_icons/magaza.png" alt="store" style="height:30px; width:30px;"/>
                        <p>MAĞAZA </p>

                    </a>
                </div>
            </div>
            <div class="property-map " id='property-map'></div>
        </div>
        <div class="widget widget-box col-md-3 col-sm-12 col-xs-12">
            <div class="panel-heading1" style="font-size:24px;font-family:Roboto;height:40px;">Hakkında</div>
            <div class="widget widget-box box-container widget-overview hidden-sm  hidden-xs" style="background:white;margin-top:10px;">
                <ul class="list-overview">
                    <li class="custom-address">
                        <span class="list-overview-option">Adres:</span>
                        <span class="list-overview-value" title="il ilce mahalle cadda sokak">il ilce mahalle cadde sokak</span>
                    </li>
                    <li>
                        <span class="list-overview-option">Durum: </span>
                        <span class="list-overview-value"><span class="label label-default label-tag-primary" style="background-color:#c3716d">satılık/kiralık</span></span>
                    </li>
                    <li>
                        <span class="list-overview-option">Tip: </span>
                        <span class="list-overview-value">konut/arsa/işyeri</span>
                    </li>
                    <li>
                        <span class="list-overview-option">Alan: </span>
                        <span class="list-overview-value">150.. m² </span>
                    </li>
                    <li>
                        <span class="list-overview-option">Net alan:    </span>
                        <span class="list-overview-value"> 130 m²</span>
                    </li>
                    <li>
                        <span class="list-overview-option">Enerji verimliliği   </span>
                        <span class="list-overview-value">-</span>
                    </li>
                    <li>
                        <span class="list-overview-option">Banyo Sayısı: </span>
                        <span class="list-overview-value">3</span>
                    </li>
                    <li>
                        <span class="list-overview-option">Yatak Odaları: </span>
                        <span class="list-overview-value">2</span>
                    </li>
                    <li>
                        <span class="list-overview-option">Balkon Sayısı: </span>
                        <span class="list-overview-value">20</span>
                    </li>
                    <li>
                        <span class="list-overview-option">Cephe: </span>
                        <span class="list-overview-value">Kuzey Güney vs</span>
                    </li>
                    <li class="custom-en">
                        <span class="list-overview-option">Kat: </span>
                        <span class="list-overview-value">3</span>
                    </li>
                    <li class="custom-en">
                        <span class="list-overview-option">Enerji Tüketimi</span>
                        <span class="list-overview-value" title="80 kWh EP / m">80 kWh EP / m<sup><small>2</small></sup></span>
                    </li>
                    <li class="custom-en">
                        <span class="list-overview-option">Gaz Tüketimi </span>
                        <span class="list-overview-value" title="30 kg CO2 / m">30 kg CO2 / m<sup><small>2</small></sup></span>
                    </li>
                    <li>
                        <span class="list-overview-option">Sayac No 	 </span>
                        <span class="list-overview-value">15119</span>
                    </li>
                    <li>
                        <span class="list-overview-option">Puan</span>
                        <span class="list-overview-value">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin: 1% 0px; padding:0px;">
        <div class="panel panel-default">
            <div class="panel-body" style="background:#F9F9F9;">
                <div class="panel panel-default col-md-6 col-sm-12 col-xs-12">
                    <div class="col-md-12" style="background:white;padding:0px;">
                        <div class="panel-heading" id="galeryButton" style="padding:0;height:40px;border:none;">
                            <button class="slButton" id="tapuPhotoButton" style="width: 100%;"><p>Tapu ve Kadastro  </p></button>
                            <button class="slButton" id="belediyePhotoButton" style="margin-left:5.5px;margin-right:5.5px;width: 100%;"><p>Belediye </p></button>
                            <button class="slButton" id="digerPhotoButton" style="width: 100%;"><p>Diğer Kurum +</p></button>
                        </div>
                    </div>
                    <div class="row" id="tapuPhoto">
                        <div class="col-md-12">
                            <div id="mdb-lightbox-ui" style="text-align:center;font-family:'Roboto',serif;font-size:16px;"> Tapu ve Kadastro Görselleri</div>
                            <div class="container mdb-lightbox no-margin" style="padding:0px;">
                                <div class="col-md-12">
                                    <figure class="btn01">
                                        <img alt="picture" src="~/Assets/img/placeholders/450x300.png" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-close"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid" />
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid" />
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="belediyePhoto" style="display:none;">
                        <div class="col-md-12">
                            <div id="mdb-lightbox-ui" style="text-align:center;font-family:'Roboto',serif;font-size:16px;"> Tapu ve Kadastro Görselleri</div>
                            <div class="container mdb-lightbox no-margin" style="padding:0px;">
                                <div class="col-md-12">
                                    <figure class="btn01">
                                        <img alt="picture" src="~/Assets/img/placeholders/450x300.png" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-close"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid" />
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid" />
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="digerPhoto" style="overflow: auto;border:1px solid #E7DCCB;margin: 6.1% 0px 0 0;height: 1033px;display:none;">
                        <div class="col-md-12">
                            <div id="mdb-lightbox-ui" style="text-align:center;font-family:'Roboto',serif;font-size:16px;"> Tapu ve Kadastro Görselleri</div>
                            <div class="container mdb-lightbox no-margin" style="padding:0px;">
                                <div class="col-md-12">
                                    <figure class="btn01">
                                        <img alt="picture" src="~/Assets/img/placeholders/450x300.png" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-close"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid" />
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid" />
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure class="btn08">
                                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
                                        <div class="ovrly"></div>
                                        <div class="buttons">
                                            <a href="#" class="fa fa-link"></a>
                                            <a href="#" class="fa fa-search"></a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-md-6 col-sm-12 col-xs-12">
                    <div class="panel-heading" id="detayTitle">DETAYLI BİLGİ</div>
                    <div class="container" id="detayliBilgi" style="border:1px solid #E7DCCB;">
                        <div class="col-md-12" style="text-align:center; margin-top:1%;">
                            <img src="~/Assets/img/placeholders/420x245.png" />
                        </div>
                        <div class="col-md-12" style="margin-top:3%;text-align:center;">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color:#134a57;">
                                İstanbul İli,  Bahçelievler İlçesi,  Kartaltepe Mahallesi’nde  15 Bağımsız Bölümden Oluşan Taşınmaz
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                Taşınmazların Mevcut Durumu :
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    920,00 m2 yüzölçümlü arsa üzerinde inşa edilmiş 2 bodrum kat, zemin kat ve 3 normal kattan oluşan binada yer alan 15 adet mesken.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                Taşınmazların Tapu Bilgileri :
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    İstanbul ili, Bahçelievler ilçesi, Kartaltepe Mahallesi, 458 ada 12 parselde kayıtlı 15 adet mesken nitelikli bağımsız bölüm.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                Taşınmazların İmar Durumu :
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    Taşınmazlar, 21.06.2009 onay tarihli, 1/1000 ölçekli Bahçelievler Revizyon Uygulama İmar Planına göre; Taks:0,25, Hmaks:13,50 ‘’Konut Alanı” lejantında kalmaktadır.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                Hizmet Sözleşme Tarihi :
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    30.07.2019
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                Rapor Tarihi :
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    15.08.2019
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                Rapor No :
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    2019_GataProje_056
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                Rapor Tanımı :
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    Konut niteliğindeki bağımsız bölümlerin onaylı mimari projedeki alansal veriler dikkate alınarak
                                    mevcut durumdaki toplam piyasa satış değerinin tespit edilmesi çalışması ve avan projede yer alan
                                    19 adet daire nitelikli taşınmazın belediyesinde incelenen proje bilgileri doğrultusunda proje değer tespit çalışması.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                Rapor Amacı :
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    Bu değerleme raporu, “6306 sayılı Afet Riski Altindaki Alanlarin Dönüştürülmesi Hakkında Kanun”
                                    doğrultusunda yapılacak işlemlerde kullanılmak için yukarıda bilgileri verilen taşınmazların
                                    piyasa satış değer tespitine yöneliktir.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                Raporu Hazırlayan :
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    ****** Taşınmaz Değerleme ve Danışmanlık Hizmetleri A.Ş.
                                    ******* Mahallesi, Bayar Cad., Gülbahar Sk.,
                                    *** ***** ******, ** * **, * ****, *** * * * * * ***** * * * *
                                </span>
                            </p>
                        </div>

                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                Raporu Talep Eden :
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    ****** ****** Bahçelievler Mah. Bursalı ***** *** ***. ** :**  Bahçelievler/İstanbul
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold;color: #134a57;">
                                458 Ada 12 Parselde Kayıtlı Taşınmazların Yasal Durum Toplam Piyasa Satış Değeri (KDV Hariç):
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    8.050.000,00.-TL (SekizMilyonElliBin–Türk Lirası)
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:'Roboto',serif;font-size:16px;font-weight:bold; color: #134a57;">
                                458 Ada 12 Parselde Tasarlanması Planlanan Projenin Toplam Piyasa Satış Değeri (KDV Hariç):
                                <span style="font-family:'Roboto',serif;font-size:16px;font-weight:100;color:black;">
                                    13.740.000,00.-TL (OnÜçMilyonYediYüzKırkBin–Türk Lirası)
                                </span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <button class="tdButton col-md-4" style="float:left;"><img class="tdImg" src="~/Assets/img/tBilgileri.png" style="float:left;" /><p style="color:white!important;font-family:'Roboto',serif;font-size:16px;">Tapu Bilgileri </p></button>
                            <button class="tdButton col-md-4" style="float:right;"><img class="tdImg" src="~/Assets/img/detaylırapor.png" style="float:left;" /><p style="color:white!important;font-family:'Roboto',serif;font-size:16px;">Detaylı Rapor </p></button>
                            <button class="tdButton col-md-4" style="float:right; margin-right:1%;"><img class="tdImg" src="~/Assets/img/ozetrapor.png" style="float:left;" /><p style="color:white!important;font-family:'Roboto',serif;font-size:16px;">Özet Rapor </p></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;padding: 0 15px;"></div>
</div>
<a class="btn btn-scoll-up color-secondary" id="btn-scroll-up"></a>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script>
    $('#tapuPhotoButton').on('click', function () {
        $('#belediyePhoto').css('display', 'none');
        $('#digerPhoto').css('display', 'none');
        $('#tapuPhoto').css('display', 'block');
    });
    $('#belediyePhotoButton').on('click', function () {
        $('#belediyePhoto').css('display', 'block');
        $('#digerPhoto').css('display', 'none');
        $('#tapuPhoto').css('display', 'none');
    });
    $('#digerPhotoButton').on('click', function () {
        $('#belediyePhoto').css('display', 'none');
        $('#digerPhoto').css('display', 'block');
        $('#tapuPhoto').css('display', 'none');
    });
    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Monthly Average Temperature'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'adsdsa',
            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'asdsadsas',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
</script>
